@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-BoldObl.woff2") format("woff2"), url("../fonts/FuturaPTCond-BoldObl.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaPTCond-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaPTCond-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-Bold.woff2") format("woff2"), url("../fonts/FuturaPTCond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-Book.woff2") format("woff2"), url("../fonts/FuturaPTCond-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-Bold.woff2") format("woff2"), url("../fonts/FuturaPTCond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-Book.woff2") format("woff2"), url("../fonts/FuturaPTCond-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-Medium.woff2") format("woff2"), url("../fonts/FuturaPTCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaPT-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTCond-Medium.woff2") format("woff2"), url("../fonts/FuturaPTCond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-DemiObl.woff2") format("woff2"), url("../fonts/FuturaPT-DemiObl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPT-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaPT-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

body {
  margin: 0;
  background-color: #F9F8F8;
}

a:hover {
  color: #FFBD54;
}

a:active {
  opacity: 0.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1389px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  font-family: "Futura";
}

.site-header__top-link {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
  color: #333333;
}

.site-header {
  z-index: 10000000;
}

.site-header__top-link::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/header-top-img.svg");
  width: 14px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.site-header__top-link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header__top-link-tel1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/header-top-img2.svg");
  width: 14px;
  height: 13px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 9px;
}

.site-header__top-link-tel1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header__top-tel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__top-tel2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/circle.svg");
  width: 10px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
}

.site-header__top-tel3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/circle.svg");
  width: 10px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
}

.site-header__top-link-tel {
  font-family: "Futura";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.site-header__top-tel + .site-header__top-tel {
  margin-left: 16px;
}

.site-header {
  background-color: #F9F8F8;
}

.site-header__top-day-link {
  font-family: "Futura";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.site-header__top-day-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header__top-day-link1:before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../../img/calendar.svg");
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.site-header__top-link3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header__top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.site-header__top-item + .site-header__top-item {
  margin-left: 98px;
}

.site-header__top {
  padding: 11px;
}

.site-header__logo-link {
  max-width: 177px;
  cursor: pointer;
}

.site-header__bottom-text {
  font-family: "Futura";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.site-header__bottom-text1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/fish.svg");
  width: 20px;
  height: 22px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  margin-right: 5px;
}

.site-header__bottom-text2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/header-bottom-img.svg");
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  vertical-align: middle;
  margin-right: 5px;
}

.site-header__bottom-text2 {
  margin-left: 20px;
}

.site-header__bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.site-header__logo {
  margin-top: auto;
}

.site-header__bottom {
  background-image: url("../img/bgimage-hdr.svg");
  background-position: center;
  height: 61px;
  max-width: 100%;
}

.site-header__top {
  background-color: #F9F8F8;
}

.site-header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__bottom-item + .site-header__bottom-item {
  display: inline-block;
  margin-left: 55px;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.site-header__button {
  background-repeat: no-repeat;
  background-image: url("../img/header__menu.svg");
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.site-header__top-button-mobile1,
.site-header__top-button-mobile2,
.site-header__top-button-mobile3 {
  border: none;
  background-color: transparent;
}

.site-header__top-button-mobile1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/header-top-img.svg");
  width: 14px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.site-header__top-button-mobile2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/header-top-img2.svg");
  width: 14px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.site-header__top-button-mobile3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/calendar.svg");
  width: 14px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.site-header__top-box-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.site-header__top-link-tel:hover,
.site-header__top-link:hover,
.site-header__top-day-link:hover {
  color: #FFBD54;
}

.site-header__top-link-tel:active,
.site-header__top-link:active,
.site-header__top-day-link:active {
  color: #333333;
  opacity: 0.6;
}

.site-header__bottom-text:hover {
  border-bottom: 2px solid #F4FFAD;
}

.site-header__bottom-text:active {
  opacity: 0.6;
}

.site-header__link__mobile {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.site-header__container {
  position: relative;
}

.site-header__menu-box-mobile {
  background-color: #fff;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  right: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 500000;
  display: none;
}

@media only screen and (max-width: 1150px) {
  .site-header__logo-link {
    max-width: 120px;
  }
  .site-header__button {
    display: inline-block;
  }
  .site-header__bottom-box {
    display: none;
  }
  .site-header__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-header__top-item {
    display: none;
  }
  .site-header__top-box-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 400px) {
  .site-header__logo-link {
    max-width: 80px;
  }
}
.hero {
  margin-top: 238px;
}

.hero__img-box {
  max-width: 600px;
  margin-top: 60px;
}

.hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.hero__title-span {
  color: #78C0DE;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  max-width: 495px;
  margin-top: 29px;
  margin-bottom: 38px;
}

.hero__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 3px;
  padding: 15px 48px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__container {
  background-repeat: no-repeat;
  background-image: url("../img/dog.svg");
  background-position: left center;
  position: relative;
}

.hero__img-parrot {
  max-width: 300px;
  position: absolute;
  top: 50%;
  right: 0%;
}

.hero__link:hover {
  color: #333333;
  background: #FFBD54;
  border-radius: 3px;
}

.hero__link:active {
  opacity: 0.6;
}

@media only screen and (max-width: 1172px) {
  .hero__img {
    display: none;
  }
  .hero__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .hero {
    margin-top: 111px;
  }
}
@media only screen and (max-width: 630px) {
  .hero__img-parrot {
    display: none;
  }
}
@media only screen and (max-width: 402px) {
  .hero__container {
    background-image: none;
  }
  .hero__title {
    font-size: 37px;
  }
  .hero__text {
    font-size: 12px;
  }
  .hero__link {
    padding: 10px 28px;
  }
}
.hero-bottom {
  margin-top: 200px;
}

.hero-bottom-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  margin-top: 43px;
  max-width: 735px;
  margin-left: auto;
  margin-right: auto;
}

.hero-bottom-text2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-top: 70px;
}

.hero-bottom-hr {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

.hero-bottom-span {
  font-weight: 400;
  font-size: 200px;
  line-height: 50px;
  color: #DBDBDB;
}

.hero-bottom-span1 {
  margin-right: auto;
}

.hero-bottom-span2 {
  margin-left: auto;
}

.hero-bottom-span2 {
  margin-left: auto;
  text-align: end;
  display: block;
}

@media only screen and (max-width: 650px) {
  .hero-bottom-span {
    font-size: 100px;
  }
}
.serves__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #333333;
}

.serves {
  margin-top: 50px;
}

.serves__list-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-top: 21px;
}

.serves__list-img-box {
  max-width: 60px;
}

.serves__list {
  width: 200px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px 5px 0px 0px;
  height: 215px;
  margin-top: 20px;
}

.serves__box,
.serves__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.serves__box::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/serves-before.svg");
  width: 14px;
  height: 25px;
  display: inline-block;
}

.serves__box2::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/serves-after.svg");
  width: 18px;
  height: 34px;
  display: inline-block;
  background-position-x: 4px;
}

.serves__box-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  display: none;
}

.serves__list:hover {
  opacity: 0.8;
}

.serves__list:active {
  opacity: 0.6;
}

@media only screen and (max-width: 1320px) {
  .serves__box {
    display: none;
  }
  .serves__box-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 350px) {
  .serves__title {
    font-size: 25px;
  }
}
.subscription {
  background-image: url("../../img/subsstion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #FFFFFF;
}

.subscription__button:hover {
  background: #FFBD54;
  color: #333333;
}

.subscription__button:active {
  opacity: 0.6;
}

.subscription__container {
  padding: 90px 0 88px 287px;
}

.subscription__input {
  padding: 16px 22px;
  width: 335px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  margin-right: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.subscription__form {
  margin-top: 32px;
}

.subscription__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 53px;
  border: none;
  background: #333333;
  border-radius: 3px;
}

.subscription__img-box {
  max-width: 613px;
}

.subscription__img {
  position: absolute;
  max-width: 513px;
  top: -8%;
  left: 58%;
}

.subscription {
  margin-top: 80px;
  position: relative;
}

@media only screen and (max-width: 1150px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .subscription__button {
    margin-top: 15px;
  }
  .subscription__img {
    top: 10%;
    left: 44%;
  }
}
@media only screen and (max-width: 950px) {
  .subscription__img {
    max-width: 400px;
    top: 30.5%;
    left: 50%;
  }
  .subscription__container {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .subscription__img {
    max-width: 200px;
    top: 65.5%;
    left: 52%;
  }
}
@media only screen and (max-width: 400px) {
  .subscription__input {
    width: 200px;
  }
  .subscription__img {
    max-width: 100px;
    top: 82.5%;
    left: 56%;
  }
}
.useful__container {
  margin-top: 100px;
}

.useful__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  margin-bottom: 80px;
}

.useful__img-box {
  max-width: 305px;
}

.useful__time {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  margin-left: 220px;
  margin-top: 21px;
  margin-bottom: 4px;
}

.useful__list-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  max-width: 182px;
  margin-bottom: 10px;
}

.useful__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  max-width: 260px;
}

.useful__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-top: 37px;
}

.useful__link::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/dog-pet.svg");
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.useful__all-text {
  padding: 25px;
}

.useful__item {
  background: #FEFEFE;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  max-width: 305px;
}

.useful__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 640px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.useful__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.useful__link2 {
  margin-top: 125px;
}

.useful__item {
  margin-top: 20px;
}

.useful {
  margin-bottom: 120px;
}

.map__right-page {
  background-color: #333333;
  padding: 77px 0 15px 158px;
  width: 100%;
}

.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}

.map__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  max-width: 334px;
  margin-top: 14px;
}

.map__input {
  padding: 16px 0 13px 22px;
  width: 375px;
  border: none;
  margin-top: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.map__textarea {
  padding: 16px 0 13px 22px;
  width: 375px;
  margin-top: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.map__button {
  padding: 15px 50px;
  border: none;
  display: block;
  margin-top: 30px;
  background: #FFBD54;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.map__img-box {
  max-width: 400px;
}

.map__right-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__iframe {
  max-width: 462px;
}

.map__button:hover {
  opacity: 0.8;
}

.map__button:active {
  opacity: 0.6;
}

.map__right-page {
  background-image: url("../img/decoration1.png"), url("../img/decoration2.png"), url("../img/decoration3.png"), url("../img/decoration3.png"), url("../../img/dicoration5.png");
  background-repeat: no-repeat;
  background-position: right center, left top, right top, right bottom, left center;
}

@media only screen and (max-width: 1180px) {
  .map__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map__iframe {
    max-width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .map__img-box {
    display: none;
  }
  .map__right-page {
    padding: 20px;
    text-align: center;
  }
  .map__all-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map__button {
    margin: auto;
  }
}
@media only screen and (max-width: 450px) {
  .map__textarea {
    width: 223px;
    height: 100px;
    margin-bottom: 20px;
  }
  .map__input {
    width: 223px;
  }
  .map__button {
    padding: 5px 15px;
  }
}
.serves-hero {
  margin-top: 130px;
}

.serves-hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  padding-top: 120px;
}

.serves-hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  max-width: 447px;
  margin-top: 21px;
}

.serves-hero__container {
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.serves-hero__img-box {
  max-width: 460px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 1030px) {
  .serves-hero__title {
    font-size: 60px;
  }
  .serves-hero__img-box {
    max-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .serves-hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 470px) {
  .serves-hero__title {
    font-size: 40px;
  }
  .serves-hero__container {
    padding-left: 10px;
  }
}
.list__item {
  padding: 58px 22px 45px 53px;
  max-width: 305px;
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
}

.list__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
  margin-bottom: 14px;
}

.list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 26px;
  width: 160px;
}

.list__link {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #FFBD54;
  border-radius: 3px;
  padding: 15px 30px;
}

.list__link:hover {
  background-color: #000000;
  color: #fff;
}

.list__title1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list1.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list2.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__item {
  background-image: url("../img/list-bg.svg");
  background-position: right top;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.list__item:hover {
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.list__link2 {
  background: #78C0DE;
}

.list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.list__title3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list3.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title4::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list4.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title5::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list5.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title6::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list6.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title7::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list7.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title8::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list8.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title9::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list9.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title10::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list10.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title11::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list11.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.list__title12::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/list12.png");
  display: inline-block;
  width: 100px;
  height: 78px;
  margin-bottom: 21px;
}

.footer__container {
  padding: 62px;
  margin-top: 40px;
}

.footer__logo-box {
  max-width: 158px;
}

.footer__menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.footer__time-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.footer__time-link1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/calendar.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.footer__time-link2 {
  margin-left: 21px;
}

.foter__location-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.foter__location-link::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/header-top-img.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.foter__location-link-span {
  margin-left: 21px;
}

.footer__tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.footer__tel-link1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/header-top-img2.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.footer__tel-link2,
.footer__tel-link3 {
  margin-left: 21px;
}

.footer__bottom-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #5C5C5C;
  margin-top: 20px;
}

.footer__menu-link:hover, .footer__time-link:hover, .foter__location-link:hover, .footer__tel-link:hover {
  color: #FFBD54;
}

.footer__menu-link:active, .footer__time-link:active, .foter__location-link:active, .footer__tel-link:active {
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */