@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-BoldObl.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-ExtraBold.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-ExtraBold.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-Book.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-Book.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
    url('../fonts/FuturaPT-Demi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-ExtraBold.woff2') format('woff2'),
    url('../fonts/FuturaPT-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
    url('../fonts/FuturaPT-Demi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPTCond-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-DemiObl.woff2') format('woff2'),
    url('../fonts/FuturaPT-DemiObl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaPT-ExtraBold.woff2') format('woff2'),
    url('../fonts/FuturaPT-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}