html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition-duration: 0.2s;
}

body {
  margin: 0;
  background-color: #F9F8F8;
}

a:hover {
  color: #FFBD54;
}

a:active{
  opacity: 0.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1389px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Futura';
}