.map__right-page {
  background-color: #333333;
  padding: 77px 0 15px 158px;
  width: 100%;
}


.map__container {
  display: flex;
}

.map__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}

.map__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  max-width: 334px;
  margin-top: 14px;
}

.map__input {
  padding: 16px 0 13px 22px;
  width: 375px;
  border: none;
  margin-top: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.map__textarea {
  padding: 16px 0 13px 22px;
  width: 375px;
  margin-top: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.map__button {
  padding: 15px 50px;
  border: none;
  display: block;
  margin-top: 30px;
  background: #FFBD54;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.map__img-box {
  max-width: 400px;
}

.map__right-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map__iframe {
  max-width: 462px;
}

.map__button:hover {
  opacity: 0.8;
}

.map__button:active {
  opacity: 0.6;
}

.map__right-page {
  background-image: url('../img/decoration1.png'), url('../img/decoration2.png'), url('../img/decoration3.png'), url('../img/decoration3.png'), url('../../img/dicoration5.png');
  background-repeat: no-repeat;
  background-position: right center, left top, right top, right bottom, left center;
}

@media only screen and (max-width:1180px) {
  .map__container {
    flex-direction: column;
  }


  .map__iframe {
    max-width: 100%;
  }
}

@media only screen and (max-width:800px) {
  .map__img-box {
    display: none;
  }

  .map__right-page {
    padding: 20px;
    text-align: center;

  }

  .map__all-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .map__button {
    margin: auto;
  }
}

@media only screen and (max-width:450px) {
  .map__textarea {
    width: 223px;
    height: 100px;
    margin-bottom: 20px;
  }

  .map__input {
    width: 223px;
  }

  .map__button {
    padding: 5px 15px;
  }

}